<div style="margin:0 auto;">
    <div style="vertical-align:top;display:inline-block;font-size:12px;text-align:left;width:100%;" class="mj-column-per-50" aria-labelledby="mj-column-per-50">
        <table width="100%">
            <tbody>
                <tr>
                    <td style="font-size:0;padding:0;" align="left">
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="left">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
