{% spaceless %}
    <br>
    <br>
<!-- //////////////// FOOTER -///////////////////// -->
<!-- //////////////// ENCARTS CATEGORIES ////////////////////////////////// -->
<!--[if mso]><table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"><tr><td><![endif]-->
    <div style="margin:0 auto;max-width:600px;"><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0px;padding:0;">
    <!--[if mso]><table border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:300px;"><![endif]-->

    <div aria-labelledby="mj-column-per-50" class="mj-column-per-50" style="vertical-align:top;display:inline-block;font-size:13px;text-align:center;width:100%;"><table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody>

        <tr>
            <td width="50%" align="center"><table><tbody>

            <tr><td style="word-break:break-word;font-size:0px;padding:0px;text-align:center;"><table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:150px;">
            <a href="http://www.doctipharma.fr/c/47-grossesse-bebe#xtor=EPR-158-[MLG-CRM_RELANCE-INSCRIPTION-NL]-2018?utm_source=Doctipharma&utm_medium=2018&utm_content=2018&utm_campaign=MLGCRMrelanceInscriptionNL" target="_blank" style="text-decoration: none; border: 0;"><img alt="Catégorie Grossesse-Bébé" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/maternite.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;max-width:150px;height:auto;" width="150" height="auto"></a>

            </td></tr></tbody></table></td></tr>


        </tbody></table></td>


        <td width="50%" align="center"><table><tbody>

            <tr><td style="word-break:break-word;font-size:0px;padding:0px;text-align:center;"><table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:150px;">
            <a href="http://www.doctipharma.fr/c/183-minceur#xtor=EPR-158-[MLG-CRM_RELANCE-INSCRIPTION-NL]-2018?utm_source=Doctipharma&utm_medium=2018&utm_content=2018&utm_campaign=MLGCRMrelanceInscriptionNL" target="_blank" style="text-decoration: none; border: 0;"><img alt="Catégorie Minceur" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/minceur.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;max-width:150px;height:auto;" width="150" height="auto"></a>


            </td></tr></tbody></table></td></tr>

        </tbody></table></td>
        </tr>
     </tbody></table></div>

<!--[if mso]></td><td style="vertical-align:top;width:300px;"><![endif]-->

    <div aria-labelledby="mj-column-per-50" class="mj-column-per-50" style="vertical-align:top;display:inline-block;font-size:13px;text-align:center;width:100%;"><table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody>

        <tr>
            <td width="50%" align="center"><table><tbody>

            <tr><td style="word-break:break-word;font-size:0px;padding:0;text-align:center;"><table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:150px;">
            <a href="http://www.doctipharma.fr/c/246-sexualite#xtor=EPR-158-[MLG-CRM_RELANCE-INSCRIPTION-NL]-2018?utm_source=Doctipharma&utm_medium=2018&utm_content=2018&utm_campaign=MLGCRMrelanceInscriptionNL" target="_blank" style="text-decoration: none; border: 0;"><img alt="Catégorie Sexualité" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/sexualite.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;max-width:150px;height:auto;" width="150" height="auto"></a>

        </td></tr></tbody></table></td></tr>

        </tbody></table></td>
            <td width="50%" align="center"><table><tbody>

                <tr><td style="word-break:break-word;font-size:0px;padding:0px;text-align:center;"><table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:150px;">
                    <a href="http://www.doctipharma.fr/c/112-visage#xtor=EPR-158-[MLG-CRM_RELANCE-INSCRIPTION-NL]-2018?utm_source=Doctipharma&utm_medium=2018&utm_content=2018&utm_campaign=MLGCRMrelanceInscriptionNL" target="_blank" style="text-decoration: none; border: 0;"><img alt="Catégorie Visage" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/visage.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;max-width:150px;height:auto;" width="150" height="auto"></a>


                </td></tr></tbody></table></td></tr>


        </tbody></table></td>
        </tr>
    </tbody></table></div>

    <!--[if mso]>
      </td></tr></table>
      <![endif]--></td></tr></tbody></table></div><!--[if mso]>
      </td></tr></table>
      <![endif]-->

  <!-- //////////////// FIN ENCARTS CATEGORIES ///////////////////// -->


 <!-- //////////////// BANDEAU PHARMACIES FRANCAISES ////////////////////////////////////////////// -->

<!--[if mso]><table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"><tr><td><![endif]-->
    <div style="margin:0 auto;max-width:600px;"><table class="" cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding: 0;">
        <!--[if mso]><table border="0" cellpadding="0" cellspacing="0"><tr><td style="width:600px;"><![endif]-->
        <div style="vertical-align:top;display:inline-block;font-size:11px;text-align:left;width:100%;" class="mj-column-per-100" aria-labelledby="mj-column-per-100"><table width="100%"><tbody>
            <tr><td height="10"></td></tr>
            <tr><td style="font-size:0;padding:5px 0px;" align="center" bgcolor="#e9e9e9">

            <div class="mj-content" style="cursor:auto;font-family:helvetica, Arial, sans-serif;font-size:14px;line-height:14px; text-transform: uppercase;">
                <a href="http://www.doctipharma.fr#xtor=EPR-158-[MLG-CRM_RELANCE-INSCRIPTION-NL]-2018?utm_source=Doctipharma&utm_medium=2018&utm_content=2018&utm_campaign=MLGCRMrelanceInscriptionNL" target="_blank" style="text-decoration: none; color:#555555; border: 0;">

                    <strong style="color:#85b947;">+</strong> Produits vendus par des pharmacies françaises

                </a>
            </div>

            </td></tr>
            <tr><td height="5"></td></tr>
            </tbody></table></div>
        <!--[if mso]></td></tr></table><![endif]-->
    </td></tr></tbody></table></div>
<!--[if mso]></td></tr></table><![endif]-->

<!-- //////////////// FIN BANDEAU PHARMACIES FRANCAISES ///////////////////// -->

<!--//////////////// RESEAUX SOCIAUX ////////////////////////////////////////////// -->

<!--[if mso]><table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"><tr><td><![endif]-->
    <div style="margin:0 auto;max-width:600px;"><table class="" cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding: 7px 0 0px 0;">
        <!--[if mso]><table border="0" cellpadding="0" cellspacing="0"><tr><td style="width:600px;"><![endif]-->
        <div style="width:100%;" class="mj-column-per-100" aria-labelledby="mj-column-per-100"><table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center"><tbody><tr><td style="font-size:0;padding:0px 0px;" align="center">


            <a href="https://www.facebook.com/doctipharmafr" target="_blank" style="border: 0;"><img alt="Facebook" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/facebook.png" style="border:none;display:inline-block;outline:none;text-decoration:none;width:100%;max-width:50px;height:auto;" width="50" height="auto"></a>

            <a href="https://twitter.com/Doctipharma_" target="_blank" style="border: 0;"><img alt="Twitter" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/twitter.png" style="border:none;display:inline-block;outline:none;text-decoration:none;width:100%;max-width:50px;height:auto;" width="50" height="auto"></a>

            <a href="https://www.instagram.com/doctipharma/" target="_blank" style="border: 0;"><img alt="Instagram" src="http://media.doctipharma.fr/newsletter/MLG-CRM/crm-transac/instagram.png" style="border:none;display:inline-block;outline:none;text-decoration:none;width:100%;max-width:50px;height:auto;" width="50" height="auto"></a>




        </td></tr></tbody></table></div>
        <!--[if mso]></td></tr></table><![endif]-->
    </td></tr></tbody></table></div>
<!--[if mso]></td></tr></table><![endif]-->

 <!-- //////////////// FIN RESEAUX SOCIAUX ///////////////////// -->


<!-- //////////////// LIEN DESABONNEMENT ////////////////////////////////////////////// -->

  <!--[if mso]>
        <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"><tr><td>
        <![endif]--><div style="margin:0px auto;max-width:600px;"><table class="" cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding: 0px 0 5px 0;"><!--[if mso]>
      <table border="0" cellpadding="0" cellspacing="0"><tr><td style="width:600px;">
<![endif]--><div style="vertical-align:top;display:inline-block;font-size:11px;text-align:left;width:100%;" class="mj-column-per-100" aria-labelledby="mj-column-per-100"><table width="100%"><tbody><tr><td style="font-size:0;" align="center"><div class="mj-content" style="cursor:auto;color:#999;font-family:helvetica, sans-serif;font-size:10px;line-height:11px;"><br/>
Une remarque ? Un problème ? Besoin d’aide ? <br/>Contactez-nous : <a href="mailto:support@doctipharma.fr" style="cursor:auto;color:#888;font-family:helvetica;">support@doctipharma.fr</a> <br/> Tél SAV : 01.87.15.52.50
    <p style="cursor:auto;color:#888;font-family:helvetica;">L'équipe Doctipharma ❤</p>
        </div></td></tr>
    </tbody></table></div><!--[if mso]>
      </td></tr></table>
      <![endif]--></td></tr></tbody></table></div><!--[if mso]>
      </td></tr></table>
        <![endif]-->


<img src="http://email-reflex.com/tags/excludetmp.php?source=1527" alt="" width="0" height="0" style="display: none;" />
 <!-- //////////////// FIN LIEN DESABONNEMENT ///////////////////// -->
<!-- ////////////////- FIN DU FOOTER -///////////////////// -->
{% endspaceless %}
