<div style="margin:0 auto;">
    <div style="vertical-align:top;display:inline-block;font-size:12px;text-align:left;width:100%;" class="mj-column-per-50" aria-labelledby="mj-column-per-50">
        <table width="100%">
            <tbody>
                <tr>
                    <td style="font-size:0;padding:0;" align="left">
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="left">
                            <tbody>
                                <tr><td>
                                    <a href="http://logc279.xiti.com/go.url?xts=542268&xtor=EPR-158-[CRM_confirmation-commande]&url=http://www.groupephr.fr/" target="_blank" style="border: 0;">
                                        <img alt="PHR" src="http://media.doctipharma.fr/newsletter/MLG-CRM/confirmation-commande/logo-phr.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;max-width:100px;height:auto;" width="100" height="auto"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
